<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Northview Attendance</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="shortcut icon" href="{{ url_for('static', filename='NVHS.png') }}">
</head>
<body>
  
  <div class="container" id="containerPortal">
    <header id="yay">
        <h1 class="AdminTopHead">Northview Attendance </h1>
      </header>
    <h3 id="AdminSees">Admin Portal</h3>
    <p style="text-align: center;">Fill in as many fields as you'd like and results will be shown!</p>
    <div class="AdminDirectForm">
        <form action="#" method="post">
            <center>
            <label id="Student_Stuff">Date</label><br>
            <input name="Date" type="date" style="width: 100%;"></input><br>
            <label id="Student_Stuff">Student Name</label><br>
            <input name="Name" type="text"style="width: 100%;"></input><br>
            <label id="Student_Stuff">Action</label><br>            
            <label for="leaving" id="Student_Stuff">Leaving</label>
            <input id = "leaving" type="radio" name="actionradio" value="Leaving">
            <label for="returning" id="Student_Stuff">Returning</label>
            <input type="radio" name="actionradio" value="Returning"><br><br>
            <input type="submit" value="Submit" style="height:100%; width:100%; font-size:150%; font-family:inherit;">
            </center>
        </form>
    </div>   
    <h1 style="text-align: center;">Results</h1>
    <center>
    <table id="adminportalresults" style="text-align:center; border: 1px solid black; border-collapse: collapse;">
      <tr>
        <th style="text-align:center; border: 1px solid black;">Time</th>
        <th style="text-align:center; border: 1px solid black;">Name</th>
        <th style="text-align:center; border: 1px solid black;">Date</th>
        <th style="text-align:center; border: 1px solid black;">Action</th>
        <th style="text-align:center; border: 1px solid black;">Reason</th>
      </tr>
      {% for row in ITEMS %}
      <tr style="text-align:center; border: 1px solid black;">
        {% for cell in row %}
        <td style="text-align:center; border: 1px solid black;" cellspacing="0" cellpadding="0">{{ cell }}</td>  
        {% endfor %}
      </tr>
      {% endfor %}  
    </table>
    </center>
    <a href="/"><img id="Northview" src="/templates/Northviewlogo.png"></a>
  </div>
</body>
</html>