<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Northview Attendance</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="/static/NVHS.png">
  </head>
<body>
  <script src="script.js"></script>
  <div class="container">
    <!--
    <a class = "back_button" href = "index.html" style="text-decoration:none; font-size: 200%;color: #029AA5; padding-left: 1em; padding-top: 1em;">
      <table style = "padding-left:1em; height: 30px">
      </table>
    </a>
    -->
    <header id="yay">
      <h1 class="AdminTopHead">Northview Attendance </h1>
    </header>
    <h3 id="Portal">Admin Portal Login</h3>
    <div class="admin_form">
      <form action="#" method="post" clas="adminportal">
        <label for="Username" class="Please">Please Enter Your Username</label><br><br>
        <input type="text" name="Username" class="Login" style = "width:100%; border-radius: 20px; text-align: center; font-family: Fredoka One; height: 8%; font-size:112%;"></input><br><br>
        <center>
          <label for="Password" class="Please">Please Enter Your Password</label><br><br>
        </center>
        <input type="password" name="Password" class="Login" style="width:100%; border-radius: 20px; text-align: center; font-family: Fredoka One; height: 8%;  font-size:112%;"></input><br><br>
        <center>
          <input type="submit" value="Submit" style="height:150%; width:100%; font-size:150%; font-family:inherit;">
        </center>
        <p style="text-align:center;">{{result}}</p>
      </form>
    </div>
    <center>
      <h1 id="Quote">"We are what we repeatedly do. Excellence, then, is not an act, but a habit" <br> - Aristotle</h1>
    </center>
    <a href="/templates/index.html"><img id="Northview" src="/templates/Northviewlogo.png"></a>
  </div>
  

  </div>
</body>
</html>

