<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Northview Attendance</title>
  <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="icon" href="/static/NVHS.png">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/detectizr/2.2.0/detectizr.js" integrity="sha512-d/lwYu2VtDSqD5y3jnH3ddtwwIMN7nE3eK0ceNfiRtqcT8kGIm4VFEOWkl0QVJn1GXtp4sW8Nti0B5Wk2H7DmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>


<body>

  <div class="container">
      <p><span class="line1"></span></p>
      <span class="line2"></span>
      <span class="line3"></span>
    <header>  
      <h1 id = "welcome">Welcome!</h1>
      <h1 id="attackhelicopter"> Are you a <span id="spanstudenttext"> student </span> or <span id="spanadmintext">admin</span>? </h1>
    </header>
    <table class="Regular">
      <tr>
        <div class="buttons" style = "text-align:center;">
          <td id = "student-button-frame"><a  href="/student"><img id="student_button" src="/templates/STIMG.png" alt="Student Button"></a></td>
          <td id = "admin-button-frame"><a href="/admin"> <img id="admin_button" src="/templates/AMG.png" alt="Admin Button"></a></td> 
        </div>
      <tr>
        <!--
        <td style = "vertical-align:top;"><h2 style = "text-align:center; vertical-align:top;">Student</h2></td>   
        <td stlye = "vertical-align:top;"><h2 style = "text-align:center; vertical-align:top;">Admin</h2></td>
        -->
      </tr>
    </table>
    <table class="irregular">
      <tr style="width:50%">
        <td style = "text-align: center; vertical-align:bottom;"><a  href="student.html"><img id="student_button" src="/templates/STIMG.png" alt="Student Button"></a></td>
      </tr>
      <tr style="width:50%">
        <td style = "text-align: center; vertical-align: bottom;"><a href="admin.html"> <img id="admin_button" src="/templates/AMG.png" alt="Admin Button" style="vertical-align: bottom;"></a></td>
      </tr>
    </table>
    <a href="/templates/index.html"><img id="Northview" src="/templates/Northviewlogo.png"></a>
  </div>
</body>
</html>



<!-- FIX IPHONE SE-->
<!-- FIX Full screen issue-->
<!--TODO BE HAPPY/PROUD OF THE WEBISTE :)-->


