<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Northview Attendance</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="/static/style.css" rel="stylesheet" type="text/css"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='NVHS.png') }}">
  
</head>

<body>
   <div class="container"> 
    <header id="yay">
      <h1 class="AdminTopHead">Northview Attendance </h1>
    </header>
      <h3>Student Form</h3>
      <div class="student_form">
        <form action="#" method="post">       
          <center>
            <label for="name" class="student-labels">First and Last Name</label>
            <br>
            <br>
            <input type="text" name="name" placeholder="First and Last Name" style = "width:100%; border-radius: 20px; text-align: center; font-family: Fredoka One;">
            <br>
            <label for="month" class="student-labels">Date</label>
            <br>
            <br>
            <input type="date" id="month" name="month" style="width:100%; border-radius: 20px;text-align: center; font-family: Fredoka One;">
            <br>
            <h3>Action</h3>
            <label for="leaving" class="student-labels">Leaving</label>
            <input id = "leaving" type="radio" name="action" value="Leaving">
            <label for="returning" class="student-labels">Returning</label>
            <input type="radio" name="action" value="Returning">
            <br>
            <br>
            <label for="reason" class="student-labels">Reason</label>
            <br>
            <label for="returning" class="student-labels">WBL</label>
            <input type="radio" name="reason" value="WBL">
            <label for="returning" class="student-labels">University</label>
            <input type="radio" name="reason" value="University">            
            <br>
            <textarea placeholder="If none of the above: Write a reason" name="reason2" id="reason"></textarea>
            <br>
            <br>
            <input type="submit" value="Submit" style="width:100%;">
        </center>
        </form>
      </div>
      <a href="/"><img id="Northview" src="/templates/Northviewlogo.png"></a>
    </div>
</body>

</html>

<!-- TODO Create generic reasons for leavin/retuning, and then the textbox for specific reasons-->
<!--TODO Fix the "things overflowing outside of the container" issue-->
<!--TODO Inspirational quote genrator-->
<!--TODO Make textboxes rounded-->